body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: black;
}

.table {
    margin-top: 20px;
    background-color: #ffffff;
    border:1.5px solid black;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.timetable {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.timetable th, .timetable td {
    text-align: center;
    padding: 15px;
    font-size: 1.1rem;
    border: .5px solid black;
}

.table-header {
    background-color: #007bff;
    color: white;
}

.timetable td {
    background-color: #f5f5f5;
}

.timetable .subject {
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
}

.timetable .subject:hover {
    background-color: #d4edda;
    cursor: pointer;
}

.lunch-break {
    background-color: #4b4a48;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

.lunch-break td {
    padding: 20px;
}
